# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [3]:
#Your code here
new_columns= [column.lower() for column in df.columns]
new_columns

['c/a',
 'unit',
 'scp',
 'station',
 'linename',
 'division',
 'date',
 'time',
 'desc',
 'entries',
 'exits                                                               ']

# Change the Index to be the Line Names

In [4]:
#Your code here
df.set_index= ('LINENAME')
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Painstakingly change the index back

In [5]:
# Your code here
df.reset_index()
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [6]:
# Your code here
df['Num_Lines'] = df.LINENAME.map(lambda x: (len(x)))
df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Num_Lines
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348,1
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348,1
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348,1
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348,1
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348,1

## Write a function to clean a column name.

In [7]:
def clean(col_name):
    cleaned = col_name.strip()#Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

In [8]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [9]:
#Checking the output, we can see the results.
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'Num_Lines'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [22]:
#Your code here
df.Date= pd.to_datetime(df.DATE)
df['DAy_of_Week'] =df.Date.dt.dayofweek

In [23]:
imp

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Num_Lines,DAy_of_Week
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,7,5
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,7,5
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,7,5
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,7,5
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,7,5
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425,7,5
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460,7,6
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461,7,6
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483,7,6
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524,7,6
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587,7,6
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631,7,6
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656,7,0
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658,7,0
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736,7,0
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965,7,0
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025,7,0
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091,7,0
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121,7,1
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126,7,1
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216,7,1
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402,7,1
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425,7,1
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478,7,1
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508,7,2
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512,7,2
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600,7,2
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838,7,2
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896,7,2
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/29/2018,16:00:00,REGULAR,6030153,1350380,7,2
71,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/29/2018,20:00:00,REGULAR,6030668,1350412,7,2
72,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/30/2018,00:00:00,REGULAR,6030805,1350437,7,3
73,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/30/2018,04:00:00,REGULAR,6030817,1350440,7,3
74,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/30/2018,08:00:00,REGULAR,6030844,1350470,7,3
75,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/30/2018,12:00:00,REGULAR,6030966,1350574,7,3
76,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/30/2018,16:00:00,REGULAR,6031173,1350626,7,3
77,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/30/2018,20:00:00,REGULAR,6031651,1350665,7,3
78,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/31/2018,00:00:00,REGULAR,6031784,1350682,7,4
79,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/31/2018,04:00:00,REGULAR,6031791,1350685,7,4
80,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/31/2018,08:00:00,REGULAR,6031821,1350727,7,4
81,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/31/2018,12:00:00,REGULAR,6031937,1350822,7,4
82,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/31/2018,16:00:00,REGULAR,6032263,1350887,7,4
83,A002,R051,02-00-01,59 ST,NQR456W,BMT,08/31/2018,20:00:00,REGULAR,6032656,1350935,7,4
84,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,1117813,4176607,7,5
85,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,1117818,4176631,7,5
86,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,1117821,4176676,7,5
87,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,1117862,4176842,7,5
88,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,1117934,4177054,7,5
89,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,1118003,4177278,7,5
90,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/26/2018,00:00:00,REGULAR,1118074,4177382,7,6
91,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/26/2018,04:00:00,REGULAR,1118079,4177391,7,6
92,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/26/2018,08:00:00,REGULAR,1118084,4177421,7,6
93,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/26/2018,12:00:00,REGULAR,1118106,4177549,7,6
94,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/26/2018,16:00:00,REGULAR,1118178,4177733,7,6
95,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/26/2018,20:00:00,REGULAR,1118244,4177924,7,6
96,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/27/2018,00:00:00,REGULAR,1118285,4178021,7,0
97,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/27/2018,04:00:00,REGULAR,1118286,4178025,7,0
98,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/27/2018,08:00:00,REGULAR,1118295,4178194,7,0
99,A002,R051,02-03-00,59 ST,NQR456W,BMT,08/27/2018,12:00:00,REGULAR,1118355,4178730,7,0

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#Your code here

# Drop a couple of columns

In [ ]:
# Your code here